a {
  text-decoration: none;
  color: black;
}

.b-card-group {
  width: 350px;
  height: 350px;
  margin: 15px;
}

.b-card-img {
  height: 350px;
  width: 350px;
  border-radius: 10px;
  background-size: cover;
  background-position: center center;
}

h1 {
  margin: 10px 0;
}

p {
  margin: 0;
  text-align: justify;
  padding: 0 0 15px;
}
