<section class="comps-container">
  <app-menu-title class="title"></app-menu-title>
  <app-menu-bar class="menu-bar"></app-menu-bar>
  <app-big-card class="b-card"></app-big-card>
  <div class="s-card-container">
    <app-small-card class="s-card1"></app-small-card>
    <app-small-card class="s-card2"></app-small-card>
    <app-small-card class="s-card3"></app-small-card>
    <app-small-card class="s-card4"></app-small-card>
    <app-small-card class="s-card5"></app-small-card>
    <app-small-card class="s-card6"></app-small-card>
  </div>
</section>


<router-outlet></router-outlet>
