div {
  display: grid;
  justify-content: center;
}

ul {
  display: flex;
  flex-direction: row;
  margin: 10px 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}

li {
  list-style: none;
  margin-right: 10px;
  font-weight: 600;
  font-size: .7rem;
}

span {
  margin-left: 10px;
  color: grey;
}

hr {
  margin: 0;
  border: 1px solid;
  width: 853px;
}
